/* Colors and styles for the unique tag scroller */
.unique-tag-scrollers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Removed left padding */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Ensure the container is centered */
    overflow: hidden;
}

.unique-tag-scroller {
    display: grid;
    gap: 1.5rem;
    mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
}

.unique-tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the items */
    gap: 1.5rem;
}

@media (prefers-reduced-motion) {
    .unique-tag-list {
        flex-flow: row nowrap;
        overflow: auto;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
    }
    .unique-tag-list::-webkit-scrollbar-track {
        background: transparent;
    }
    .unique-tag-list::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .unique-tag-list::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}

.unique-tag-list li {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1;
    padding: 0.625rem 1.375rem;
    border: 2px solid black;
    border-radius: 10ch;
    white-space: nowrap;
}

.unique-tag-scroller.scrolling .unique-tag-list {
    width: max-content;
    flex-wrap: nowrap;
    animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;
}

.unique-tag-scroller.scrolling .unique-tag-list:nth-child(even) {
    --direction: reverse;
}

.unique-tag-scroller:hover .unique-tag-list {
    animation-play-state: paused;
}

@keyframes horizontal-scroll {
    to {
        transform: translateX(calc(-50% - .75rem));
    }
}

.go-top {
    position: fixed;
    bottom: 0;
    right: 15px;
    background-color: var(--winter-sky);
    color: var(--white);
    font-size: 2rem;
    padding: 14px;
    border-radius: var(--radius-4);
    box-shadow: -3px 3px 15px var(--winter-sky_50);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
}

.go-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
}

/* Media query for small screens */
@media (max-width: 768px) {
    .unique-tag-scrollers {
        padding: 0; /* Remove padding */
        
        justify-content: center;
        width: 100%;
        margin: 0px 50px  auto; /* Ensure it's centered */
    }

    .unique-tag-list {
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .unique-tag-list li {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 8ch;
    }
}
