
  /* Ensures carousel background color */
  .carousel {
   background: #444;
}

/* Forces image to be 100% width and auto height */
.carousel-item img {
   width: 100%;
   height: auto;
}

/* Ensures full width of anchor tags */
.carousel-item a {
   display: block;
   width: 100%;
}

/* Align carousel captions */
.carousel-caption {
   text-align: center;
}

/* Button styling for consistency */
.carousel-caption .btn {
   margin-top: 15px;
}